@model IEnumerable<ApplicationCore.Entities.Cast>;
@{
	ViewData["Title"] = "All Cast Members";
}
<h1>@ViewData["Title"]</h1>
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Profile</th>
			<th>TmdbUrl</th>
			<th>Gender</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Id</td>
				<td>@item.Name</td>
				<td><img src="@item.ProfilePath" style="height:50px; width:40px" class="rounded" /></td>
				<td>@item.TmdbUrl</td>
				<td>@item.Gender</td>
			</tr>
		}
	</tbody>
</table>